@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

$scrollbar-width:              10px;
$chatThread-bgd-color:        rgba(25,147,147,0.2);

.chatThread {
	list-style: none;
	overflow-y: none;
  	overflow-x: hidden;
}

.chatContainer{
	flex-direction: column;
	overflow-y: scroll;
}

.chatThread .li {
	position: relative;
	clear: both;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 0 0 6px 0;
	font: 14px/18px 'Noto Sans', sans-serif;
	border-radius: 10px;
	background-color: $chatThread-bgd-color;
}

.chat-window {
	position: fixed;
	bottom: 18px;
}

.chat-window-message {
	width: 100%;
	height: 48px;
	font: 32px/48px 'Noto Sans', sans-serif;
	background: none;
	color: #0AD5C1;
	border: 0;
	border-bottom: 1px solid $chatThread-bgd-color;
	outline: none;
}
